<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.anyline.examples">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ocr.SerialNumberSettingsMenuActivity"
            android:label="@string/title_activity_serial_number_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ocr.SerialNumberSettingsScanAreaActivity"
            android:label="@string/title_activity_serial_number_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ocr.SerialNumberSettingsBasicActivity"
            android:label="@string/title_activity_serial_number_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ocr.SerialNumberSettingsAdvancedActivity"
            android:label="@string/title_activity_serial_number_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".meterreadingprocesses.activities.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meterreadingprocesses.activities.WorkOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meterreadingprocesses.activities.SelfReadingScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meterreadingprocesses.activities.CustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meterreadingprocesses.activities.CustomerIdentifyScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meter.ScanDigitalEnergyMeterActivity"
            android:label="@string/title_digital_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".meter.ScanAutoAnalogDigitalMeterActivity"
            android:label="@string/title_auto_analog_digital_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".meter.ScanDialMeterActivity"
            android:label="@string/title_dial_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".meter.ScanEnergySerialNumberActivity"
            android:label="@string/title_serial_number_energy"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanSerialNumberActivity"
            android:label="@string/title_serial_number"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanShippingContainerActivity"
            android:label="@string/title_shipping_container"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanVerticalShippingContainerActivity"
            android:label="@string/title_shipping_container"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".id.ScanMrzActivity"
            android:label="@string/title_mrz"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".barcode.ScanBarcodeActivity"
            android:label="@string/title_barcode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".id.ScanBarcodePDF417Activity"
            android:label="@string/pdf_417"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".document.ScanDocumentActivity"
            android:label="@string/title_document"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".document.DocScanUIMainActivity"
            android:label="@string/title_document"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".document.DocumentScanViewUIActivity"
            android:label="@string/title_document"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".document.CropViewUIActivity"
            android:label="@string/title_document"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ocr.ScanScrabbleActivity"
            android:label="@string/title_scrabble"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".licenseplate.ScanLicensePlateActivity"
            android:label="@string/title_license_plate"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".licenseplate.ChooseLicensePlateRegionActivity"
            android:label="@string/title_license_plate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".ocr.ScanBottlecapActivity"
            android:label="@string/title_bottlecap"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanRedBullCodeActivity"
            android:label="@string/title_redbull"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanIsbnActivity"
            android:label="@string/title_isbn"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanRecordActivity"
            android:label="@string/title_record"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanVoucherCodeActivity"
            android:label="@string/title_voucher"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanIbanActivity"
            android:label="@string/title_iban"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".id.ScanDrivingLicenseActivity"
            android:label="@string/title_driving_license"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".id.ScanGermanIdFrontActivity"
            android:label="@string/title_german_id_front"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanVehicleIdentificationNumberActivity"
            android:label="@string/vin"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.ScanCowtagActivity"
            android:label="@string/title_cowtag"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".scanviewresult.ScanViewResultActivity"
            android:label="Result Data"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity
            android:name=".ocr.apis.AnagramActivity"
            android:label="@string/title_scrabble_result"
            android:parentActivityName=".ocr.ScanScrabbleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanScrabbleActivity" />
        </activity>
        <activity
            android:name=".ocr.apis.IsbnActivity"
            android:label="@string/title_isbn_result"
            android:parentActivityName=".ocr.ScanIsbnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanIsbnActivity" />
        </activity>
        <activity
            android:name=".barcode.BarcodeListViewActivity"
            android:label="Barcode Types"
            android:screenOrientation="portrait" />

        <activity
            android:name=".id.RadioButtonListViewActivity"
            android:label="Barcode Types"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ocr.apis.RecordSearchActivity"
            android:label="@string/title_record_result"
            android:parentActivityName=".ocr.ScanRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanRecordActivity" />
        </activity>
        <activity
            android:name=".id.ScanBelgianDrivingLicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".id.ScanDutchDrivingLicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".id.NFC.NFCScanMRZActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".id.NFC.NFCScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ocr.ScanTINActivity"
            android:label="@string/tin"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity" />
        </activity>
        <activity android:name=".meter.ParallelResultActivity" />
        <activity android:name=".meter.ScanParallelAutoAnalogDigitalMeterActivity" />
        <activity
            android:name=".trainer.TrainerLoginActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".id.ScanUniversalIdActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".id.ScanUniversalIdFrontBackActivity">

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        
    </application>

</manifest>