<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.anyline.examples"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".meter.ScanAnalogMeterActivity"
            android:label="@string/title_analog_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".meter.ScanDoubleTariffMeterActivity"
            android:label="@string/title_double_tariff_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".meter.ScanDigitalMeterActivity"
            android:label="@string/title_digital_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".meter.ScanDigitalHeatMeterActivity"
            android:label="@string/title_heat_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".meter.ScanAutoAnalogDigitalMeterActivity"
            android:label="@string/title_auto_analog_digital_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".meter.ScanDialMeterActivity"
            android:label="@string/title_dial_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".meter.ScanSerialNumberActivity"
            android:label="@string/title_serial_number"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".meter.ScanDotMatrixMeterActivity"
            android:label="@string/title_dot_matrix_meter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".mrz.ScanMrzActivity"
            android:label="@string/title_mrz"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".barcode.ScanBarcodeActivity"
            android:label="@string/title_barcode"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".document.ScanDocumentActivity"
            android:label="@string/title_document"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanScrabbleActivity"
            android:label="@string/title_scrabble"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanBottlecapActivity"
            android:label="@string/title_bottlecap"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanRedBullCodeActivity"
            android:label="@string/title_redbull"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanIsbnActivity"
            android:label="@string/title_isbn"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanRecordActivity"
            android:label="@string/title_record"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanVoucherCodeActivity"
            android:label="@string/title_voucher"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.ScanIbanActivity"
            android:label="@string/title_iban"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".licenseplate.ScanLicensePlateActivity"
            android:label="@string/title_license_plate"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.anyline.examples.MainActivity"/>
        </activity>
        <activity
            android:name=".ocr.apis.AnagramActivity"
            android:label="@string/title_scrabble_result"
            android:parentActivityName=".ocr.ScanScrabbleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanScrabbleActivity"/>
        </activity>
        <activity
            android:name=".ocr.apis.IsbnActivity"
            android:label="@string/title_isbn_result"
            android:parentActivityName=".ocr.ScanIsbnActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanIsbnActivity"/>
        </activity>
        <activity
            android:name=".ocr.apis.RecordSearchActivity"
            android:label="@string/title_record_result"
            android:parentActivityName=".ocr.ScanRecordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ocr.ScanRecordActivity"/>
        </activity>

        
    </application>

</manifest>
